name: CI - Build & Test (Maven)

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'

      - name: Make mvnw executable
        run: chmod +x ./mvnw

      - name: Build & Test
        run: ./mvnw -B clean verify

      - name: Publicar JAR como artefacto
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: cabapro-jar
          path: target/*.jar
